* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 250, 254);
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgb(53, 95, 37);
}

.converter {
  background-color: rgb(206, 227, 218);
  border-radius: 1.5rem;
  padding: 3rem;
  position: relative;
}

.error {
  position: absolute;
  top: 1rem;
  color: red;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  outline: none;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  background-color: rgb(99, 196, 196);
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
